{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <a href="{% url 'index'%}" class="site-logo"><img src="{{ setting.logo.url }}" widht="20%" alt="logo"></a>
                </div>
                <div class="col-md-6">
                    <div class="singin-header-btn">
                        <p>Уже вступил?</p>
                        <a href="{% url 'user_login' %}" class="axil-btn btn-bg-secondary sign-up-btn">Войти</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
                    <h3 class="title">Мы предлагаем лучшие продукты</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Я здесь новенький</h3>
                        <p class="b2 mb--55">Введите свои данные ниже</p>
                        <form class="singin-form" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Имя пользователя</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label>Эл. адрес</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <label>Подвердите пароль</label>
                                <input type="password" class="form-control" name="confirm_password">
                            </div> 
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Зарегистрироваться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}